.row
  .small-3.small-centered.columns

  %h1 Dishes

  %table
    %thead
      %tr
        %th Name
        %th Allergy Information
        %th Price
        %th Calories
        %th Image
        %th
        %th
        %th
        %th

    %tbody
      - @dishes.each do |dish|
        %tr{id: "#{dish.id}"}
          %td= link_to dish.name, dish
          %td= dish.allergy_info
          %td= dish.price
          %td= dish.calories
          %td= link_to image_tag(dish.img_url)
          %td= link_to 'Edit', edit_dish_path(dish)
          %td= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' }
          %td= link_to 'Add to cart', '#'

  %br

  = link_to 'New Dish', new_dish_path
