%p#notice= notice
%p
  %img{:src => @dish.img_url}
%p
  %b Name:
  = @dish.name
%p
  %b Alergyinfo:
  = @dish.alergyInfo
%p
  %b Price:
  = @dish.price
%p
  %b Calories:
  = @dish.calories

= link_to 'Edit', edit_dish_path(@dish)
\|
= link_to 'Back', dishes_path
